apiVersion: v1
kind: Service
metadata:
  name: postgres-db
  labels:
    app: postgres-db-svc
    tier: db
spec:
  ports:
    - port: 5432
      targetPort: 5432
  selector:
    app: postgres-app
    tier: db