apiVersion: v1
kind: Service

metadata:
  name: service-user
  labels:
    app: service-user-svc
    tier: backend

spec:
  type: NodePort
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30001
  selector:
    app: service-user-app
    tier: backend